.copy-icon {
  cursor: pointer;
}

.url-shortner {
  background: url(../images/bg-shorten-desktop.svg);
  margin: auto;
  margin-top: 5rem;
  padding: 3rem 3rem 3rem 3rem;
  border-radius: 1rem;
  width: 80%;
  background-color: var(--dark-violet);
}

form {
  display: grid;
  gap: 2rem;
}

@media only screen and (min-width: 50em) {
  form {
    grid-template-columns: 1fr 1fr 1fr;
  }
  input {
    grid-column: 1/3;
  }
}
