.left-line::before {
  content: "";
  position: absolute;
  top: -10rem;
  left: 50%;
  width: 10px;
  height: 10rem;
  background-color: var(--cyan);
  transform: translateX(-50%);
}

.right-line::after {
  content: "";
  position: absolute;
  bottom: -10rem;
  width: 10px;
  height: 10rem;
  background-color: var(--cyan);
  transform: translateX(-50%);
}

.card {
  margin: auto;
  position: relative;
  padding: 8rem 3rem 5rem 3rem;
  background-color: white;
  border-radius: 0.5rem;
  text-align: center;
}
.card-p {
  color: var(--grayish-violet);
  margin-top: 1.5rem;
}
.card-img {
  position: absolute;
  padding: 3rem 3rem 3rem 3rem;
  background-color: var(--dark-violet);
  border-radius: 50%;
  top: -5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
@media only screen and (min-width: 70em) {
  .card-one {
    margin-top: 0;
  }
  .card-two {
    margin-top: 5rem;
  }
  .card-three {
    margin-top: 10rem;
  }
  /* Line between cards */
  .left-line::before {
    top: 50%;
    left: -50px;
    width: 50px;
    height: 1rem;
    transform: translateY(-50%);
  }

  .right-line::after {
    top: 50%;
    right: -50px;
    width: 50px;
    height: 1rem;
    transform: translateY(-50%);
  }
}
