.item {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: white;
  display: block;
  cursor: pointer;
  margin-bottom: 3rem;
}

.item:hover {
  color: var(--cyan);
}
.menu {
  margin: 2rem 0 2rem 0;
}
/* Flex nav elements */
nav {
  display: flex;
  margin-top: 1rem;
  justify-content: flex-end;
  padding: 0 3rem 0 3rem;
}
.nav-menu {
  position: fixed;
  padding: 4rem 0 2rem 0;
  right: -100%;
  flex-direction: column;
  width: 85%;
  border-radius: 0.2rem;
  text-align: center;
  align-items: center;
}
.nav-menu.active {
  position: absolute;
  background-color: var(--dark-violet);
  border-radius: 1rem;
  z-index: 1;
  top: 7rem;
  left: 50%;
  transform: translateX(-50%);
}
/* Reset nav item positions */
nav li:nth-child(2) {
  margin-left: 0;
}
.nav-item {
  text-align: center;
}

.hamburger {
  position: relative;
  margin-left: auto;
  display: block;
  cursor: pointer;
}
.bar {
  display: block;
  width: 4rem;
  height: 0.3rem;
  margin: 0.6rem auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}
/* Hamburger transition */
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(0.9rem) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-0.9rem) rotate(-45deg);
}
.logo_one {
  /* Use align-self to fix flex container stretching img */
  align-self: start;
  max-width: 100%;
  margin-top: 0.4rem;
}
/* Button styles */

.btn {
  width: 80%;
  height: 4.5rem;
  background-color: var(--cyan);
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white;
  font-size: 2rem;
  align-items: center;
}
.btn:hover {
  background-color: var(--light-cyan);
}

@media only screen and (min-width: 60em) {
  .nav-menu,
  .nav-menu.active {
    position: relative;
    background-color: white;
    top: 0;
    white-space: nowrap;
    list-style-type: none;
    right: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 2rem 8rem 2rem;
  }
  /* shift items right */
  nav li:nth-child(4) {
    margin-left: auto;
  }
  .hamburger {
    display: none;
  }
  .item {
    color: var(--grayish-violet);
    font-weight: 500;
    margin-right: 3rem;
  }
  .item:hover {
    color: var(--dark-violet);
  }
  .btn {
    width: 10rem;
    height: 3.8rem;
  }
}
