.logo {
  cursor: pointer;
}
.item {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  color: var(--grayish-violet);
  margin-left: 3rem;
  display: block;
  cursor: pointer;
  margin-bottom: 3rem;
}
.item:hover {
  color: var(--dark-violet);
}
/* Flex nav elements */
nav {
  display: flex;
  justify-content: flex-end;
  padding: 0 3rem 0 3rem;
}
.nav-menu {
  position: fixed;
  padding: 4rem 0 2rem 0;
  right: -100%;
  flex-direction: column;
  width: 85%;
  border-radius: 0.2rem;
  text-align: center;
  align-items: center;
}
.nav-menu.active {
  /* Centre collapsable menu */
  position: absolute;
  background-color: var(--dark-violet);
  z-index: 1;
  top: 7rem;
  left: 50%;
  transform: translateX(-50%);
}
/* Reset login nav item positions */
nav li:nth-child(2) {
  margin-left: 0;
}
.nav-item {
  text-align: center;
}

.hamburger {
  position: relative;
  margin-left: auto;
  display: block;
  cursor: pointer;
  margin-top: 1.5rem;
}
.bar {
  display: block;
  width: 4rem;
  height: 0.3rem;
  margin: 0.6rem auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}
/* Hamburger transition */
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(0.9rem) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-0.9rem) rotate(-45deg);
}

/* Button styles */

.btn {
  width: 10rem;
  height: 3.8rem;
  background-color: var(--cyan);
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white;
  font-size: 2rem;
  align-items: center;
}

/* on hover over button zoom */

.btn:hover {
  background-color: var(--light-cyan);
}

@media only screen and (min-width: 70em) {
  .nav-menu,
  .nav-menu.active {
    position: relative;
    background-color: white;
    top: auto;
    white-space: nowrap;
    list-style-type: none;
    right: auto;
    /* First three items left of screen */
    display: flex;
    flex-direction: row;
    width: 100%;
    /* t-r-b-l */
    padding: 3rem 2rem 8rem 2rem;
  }
  /* shift items right */
  nav li:nth-child(5) {
    margin-left: auto;
  }
  .hamburger {
    display: none;
  }
  .logo {
    display: none;
  }
}
