.section-three {
  padding-block: 8rem;
  background: url(../images/bg-boost-desktop.svg);
  background-color: var(--dark-violet);
  background-repeat: no-repeat;
  background-size: cover;
}
.s3-container {
  text-align: center;
}

.s3-h3 {
  color: white;
  margin-bottom: 3rem;
}

.s3-btn {
  width: 15rem;
}
