.section-two {
  padding: 5rem 2rem 5rem 2rem;
  background-color: var(--gray);
}
.section-two-width {
  max-width: 1440px;
  margin: auto;
}

.section-two-header {
  text-align: center;
}
.section-two-p {
  color: var(--grayish-violet);
  margin: 2rem 0 10rem 0;
}

.card-container {
  display: grid;
  gap: 10rem;
}
@media only screen and (min-width: 70em) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
  }
}
